p {
  color: #a51515;
  font-family: 'Righteous', cursive;
  text-align: center;
  font-size: 60px;
}

h1 {
  font-family: 'Rubik Mono One', sans-serif;  
  text-align: center;
  font-size: 60px;
  }

h2 {
  font-family: 'Carrois Gothic SC', sans-serif;
  text-align: center;
  font-size: 60px;
}
